#last-updated {
  font-size: 1rem;
  font-weight: bold;
}
ul {
  list-style: none;
}
img {
  width: 70px;
}
#city-icon {
  margin-right: 20px;
  float: left;
  height: 60px;
  width: 60px;
}
.container {
  margin: 0 auto;
  max-width: 760px;
}
.container-weather {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 760px;
  border: solid 5px #800080;
  border-radius: 20px;
  padding: 20px;
}
.navbar {
  padding-top: 20px;
  display: inline-flex;
}
.btn {
  border-color: purple;
  color: purple;
  margin: 0 5px;
}
.btn:hover {
  background-color: purple;
  color: #fff;
}
.cityName {
  color: purple;
  font-weight: bold;
  font-size: 3rem;
}
.temp-city {
  font-weight: 600;
  font-size: 3rem;
  text-align: right;
}
.degree {
  font-size: 1.3rem;
  position: relative;
  right: 25px;
  top: 15px;
}
#celsius-link {
  text-decoration: none;
}
#fahrenheit-link {
  text-decoration: none;
}
.active {
  color: black;
  cursor: default;
}
.conditions {
  color: purple;
  font-weight: 400;
  text-align: left;
}
.day {
  font-weight: 700;
}
.weekdays {
  text-align: center;
}
#description:first-letter {
  text-transform: capitalize;
  color: purple;
}
.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
}
